@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.gradient-bg {
		background: radial-gradient(circle at bottom, #01071f 30%, transparent 70%),
			radial-gradient(circle at bottom, #01071f 0%, transparent 50%),
			radial-gradient(circle at top, #1c679db5 0%, transparent 70%),
			radial-gradient(circle at top, #01071f 0%, transparent 80%);
		background-color: #01071f; /* fallback base color */
		background-blend-mode: lighten;
	}
	.gradient-bg2 {
		background: radial-gradient(
				circle at bottom right,
				#3f567f 30%,
				transparent 70%
			),
			radial-gradient(circle at bottom left, #d174d2 0%, transparent 50%),
			radial-gradient(circle at top right, #e0563f 0%, transparent 50%),
			radial-gradient(circle at top left, #412653 10%, transparent 90%);
		background-color: #1e1e2f; /* fallback base color */
		background-blend-mode: screen;
	}
	.hover-scale {
		@apply transition-transform duration-300 ease-in-out hover:scale-105;
	}
	@keyframes marquee {
		0% {
			transform: translateX(100%);
		}
		100% {
			transform: translateX(-100%);
		}
	}

	.animate-marquee {
		animation: marquee 10s linear infinite;
	}
}

html,
body,
#root {
	height: 100%;
}

body {
	@apply font-heading  text-white;
	@apply bg-primary;
}

p {
	@apply font-sans;
}
